.product-component > img {
    height: 8.5rem;
    width: 8rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.products-page {
    display: flex;
    margin-bottom: auto;
}

.filter-component {
    width: 30rem;
    padding: 1rem;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.2rem;
    cursor: pointer;
}

.search-text:focus {
    outline: none !important;
    outline-offset: none !important;
    border: 2px solid #01A3F6;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding: 1.3rem 0.1rem;
}

.filter-options > div {
    color: #01A3F6;
    cursor: pointer;
    font-size: 0.9rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-options > div:hover {
    color: #008CC3;
}

.product-page {
    padding-top: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
}

.product-page hr {
    margin-top: 4rem;
    border-bottom: 2px solid rgba(190, 190, 190, 10.3);
    width: calc(100% - 4rem);
}

.product-page-image {
    width: 15rem;
    height: 18rem;
}

.product-page-header {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.product-page-heading {
    justify-content: center;
}

.product-page-heading h3 {
    color: rgba(50, 50, 50, 0.8);
}

.product-page-heading div {
    color: rgba(75, 75, 75, 0.8);
}