.header-image {
    width: 100%;
    height: auto;
    display:inline-block;
}

.header-image-container {
    width: 100%;
    position: relative;
}

.header-image-container:after {
    content: "Welcome to Kroon-Water!";
    position: absolute;
    left: clamp(50%, 40%, 30%);
    top: 50%;
    font-size: 2rem;
    color: whitesmoke;
    text-shadow: 2px 1px 3px #01A3F6;
}

.header-image-container:before {
    content: "Providing clean water since 1995";
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.about-component {
    display: flex;
    padding: 0 1rem;
    gap: 2rem;
    margin: 3rem 0;
}

.why-use-us-container {
    min-width: 10rem;
}

.why-use-us-h3 {
    padding-right: 2rem;
    color: #008CC3;
}

.nav-bar-placeholder {
    height: 5rem;
    background-color: rgb(1, 166, 248);
    width: 100%;
}

.category-header {
    color: #008CC3;
    margin-bottom: 0;
}

.shrink {
    margin: 1rem 2rem;
}

.shrink p {
    margin-top: 0.3rem;
}

.shrink hr {
    color: rgba(0, 0, 0, 0.7);
}

.categories-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.category img {
    max-width: 8rem;
    min-width: 8rem;
    height: 8.3rem;
}

a {
    text-decoration: none;
    color: #008CC3;
}