:root {
    --page-padding: 2rem;
}

.whyUseUs-page {
    width: calc(100% - calc(var(--page-padding) * 2));
    padding: var(--page-padding);
    display: flex;
    justify-content: center;
    text-shadow: 1px 0 1px rgba(0, 41, 76, 0.1);
}

ul {
    padding-left: 1rem;
    margin: 0;
}

p.description-heading {
    padding-bottom: 0rem;
    margin-bottom: 0.2rem;
}

h3 {
    padding-bottom: 0;
    margin-bottom: 0.2rem;
    margin-top: 1.3rem;
    font-size: 1.4rem;
    font-weight: 550;
}

p {
    margin-top: 0.4rem;
}

.more-on-top {
    padding-top: 0.6rem;
}

.bold {
    font-weight: 550;
}