html, body {
    height: 100vh;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 822px) {
    .nav-bar-placeholder {
        min-height: 6rem;
    }
}

@media (max-width: 577px) {
    .nav-bar-placeholder {
        min-height: 9rem;
    }
}